{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "semi": ["error","always"],
    "no-empty": "error",
    "space-infix-ops":"error",
    "linebreak-style":["error", "windows"],
    "no-param-reassign": ["error", { "props": false }]
  }
}